test/test.xcodeproj/project.xcworkspace
test/test.xcodeproj/xcuserdata
test/Debug/
test/Release/
test/x64/
test/test.opensdf
test/test.sdf
test/test.VC.db
*.o
test/test
test/test.VC.VC.opendb
test/test.xcodeproj/xcshareddata
