test/test.xcodeproj/project.xcworkspace/xcshareddata
test/test.xcodeproj/project.xcworkspace/xcuserdata
test/test.xcodeproj/xcshareddata
test/test.xcodeproj/xcuserdata
test/.vs
test/Win32
test/x64/
test/test.opensdf
test/test.sdf
test/test.VC.db
*.o
test/test
test/test.VC.VC.opendb
test/test.xcodeproj/xcshareddata
*.user
