example/example.xcodeproj/project.xcworkspace/xcshareddata
example/example.xcodeproj/project.xcworkspace/xcuserdata
example/example.xcodeproj/xcshareddata
example/example.xcodeproj/xcuserdata
example/.vs
example/Win32
example/x64/
example/example.opensdf
example/example.sdf
example/example.VC.db
example/example.VC.VC.opendb
example/example
example/example.exe
*.o
*.d
*.user
tests/tests.xcodeproj/project.xcworkspace/xcshareddata
tests/tests.xcodeproj/project.xcworkspace/xcuserdata
tests/tests.xcodeproj/xcshareddata
tests/tests.xcodeproj/xcuserdata
tests/.vs
tests/Win32
tests/x64/
tests/tests.opensdf
tests/tests.sdf
tests/tests.VC.db
tests/tests.VC.VC.opendb
tests/tests
tests/tests.exe
*.gcov
*.gcda
*.gcno
