version: 2
workflows:
  version: 2
  dist-compile:
    jobs:
      - test
jobs:
  test:
    docker:
      - image: gcc:8.2
    steps:
      - checkout
      - run: git submodule update --init
      - run: make -C tests/
      - run: tests/tests
